.suggestedCategoriesFAQ {

  display: flex;
  gap: 25px;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.searchBarFaq {
  width: 50%;
  height: 56px;
  color: #616161;
  border: 2px #D7DFE4 solid;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 15px;
  padding-left: 20px;
}

.taglineFAQ {
  font-size: 15px;
  font-weight: 400;
  text-transform: math-auto;

}

.secondFAQinternalUL {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;

}

.faq-note {
  background-color: #FFECED;
  padding: 7px 15px ;
  margin-bottom: 15px;

}
.faq-note1{
  font-size: 15px;
  font-weight: 500;
  color:#EC1C24; 
}

.faq-note2{
  color: #616161;
  font-size: 15px;
  font-weight: 400;
}

.accordion-button {
  line-height: 2.5;
  
 
} 

@media (min-width: 1025px) and (max-width: 1250px) {
  .accordion-button {
    line-height: 1.7;
  }
  .searchBarFaq {
    width: 70%;
  }
    .suggestedCategoriesFAQ {
    gap: 12px;
  }

}


@media (min-width: 769px) and (max-width: 1024px) {
  .accordion-button {
    line-height: 2.0;
    
  }

   .suggestedCategoriesFAQ {
    gap: 12px;
  }
   .searchBarFaq {
    width: 75%;
  }
  
  
}



@media (max-width: 768px) {
  .suggestedCategoriesFAQ {
    display: none;
  }

  .searchBarFaq {
    width: 80%;
    padding-left: 20px;

  }

  .taglineFAQ {
    font-size: 13px;
  }


  .secondFAQinternalUL {
  display: inline-grid;
  grid-template-columns: auto auto;
      }
.accordion-button {
    line-height: 1.5;
   padding: 10px;
  }

}
